body 
{    font-weight: 700;
}

#Kop    /*De kop tekst*/
{ 
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 10%;
        text-align: center;
        background-color: #00695c;
        margin: 0px;
        padding: 0px;

        /* De Achtergrond laag */
        z-index: 0;
}

#Menu   /*Het menu*/
{
    background-color: #00796b;
    height: 10%;
    top: 10%;
    left: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* De voorgrond laag */
    z-index: 1;
} 
#ZijMenu  /*Menu aan de zijkant*/
{
    position:absolute;
    left: 0px;
    width: 10%;
    top: 20%;
    height: 110%;
    background-color: #00796b;
    text-align: center;
}

#BlokRechts  /*het rechtse blokt */
{
    position:absolute;
    left: 90%;
    right: 0px;
    width: 10%;
    top: 20%;
    height: 110%;
    background-color: #00796b;
    text-align: center;
}

#Footer
{
    text-align: center;
}

#Tekst  /*De tekst in het miden */
{
    background-color: white;
    position:absolute;
    left: 10%;
    right: 80%;
    top: 20%;
    text-align: center;
    width: 80%;
    height: 80%;
}

.Inlog
{
    text-align: right;
}

.auto-style1 
{
    width: 1338px;
}
.auto-style2 
{
    width: 527px;
}
.auto-style3 
{
    width: 997px;
}
.auto-style1 
{
    width: 105px;
}
.auto-style2 
{
    width: 295px;
}