<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
    <connectionStrings>
        <add name="RoosterConnectionString" connectionString="Data Source=MIKE_DAMEN\SQLEXPRESS;Initial Catalog=Festivals; Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FestivalsConnectionString" connectionString="Data Source=MIKE_DAMEN\SQLEXPRESS;Initial Catalog=Festivals;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>